body {
  font-family: sans-serif;
  background-color: #cadbf7;
  border-style: ridge;
  border-color: black;
  padding: 10px;
}

h1 {
  text-align: center;
}

img.main {
  float: top;
}

img {
  padding: 1px;
  border:2px solid #7d60f2;
}

.quote {
  font-size: 20;
  font-family: cursive;
}

.emphasize {
  color: red;
  font-family: georgia;
}

.about_me {
  margin: 4px;
  border: 10px solid #747475;
  padding: 4px;
  background-color: #19468e;
  color: white;
}

.my-background {
  margin: 4px;
  border: 10px solid #747475;
  padding: 4px;
  background-color: #19468e;
  color: white;
}

.my-interests {
  margin: 4px;
  border: 10px solid #747475;
  padding: 4px;
  color: white;
  background-image: url("../img/pool_table.jpg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.my_projects {
  background-color: #19468e;
  color: white;
}
