body {
  font-family: sans-serif;
}

p {
  font-size: 20;
  font-family: cursive;
}

.my-list {
  margin: 4px;
  border: 10px solid black;
  padding: 4px;
  background-color: #19468e;
  color: white;
}

.my-interests {
  margin: 4px;
  border: 10px solid black;
  padding: 4px;
  color: white;
  background-image: url("../img/pool_table.jpg");
  background-size: 100%;
  background-position: auto;
}
